In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, classification_report

In [2]:
train = pd.read_csv('train.csv')
test  = pd.read_csv('test.csv')

In [3]:
print(train.shape)
train.head()

(8523, 12)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
print(test.shape)
test.head()

(5681, 11)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [5]:
train['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [6]:
X_train = train.iloc[:,:-1]
Y_train = train.iloc[:,-1]

In [7]:
X_train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [8]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 11 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
dtypes: float64(3), int64(1), object(7)
memory usage: 732.5+ KB

In [9]:
X_train['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [10]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
item_weight = X_train['Item_Weight'].values.reshape((-1,1))
X_train['Item_Weight'] = imputer.fit_transform(item_weight)

In [11]:
X_train['Item_Fat_Content'] = X_train['Item_Fat_Content'].map({
    'Low Fat' : 'LOW', 'LF' : 'LOW', 'low fat' : 'LOW', 'Regular' : 'REGULAR', 'reg' : 'REGULAR'})
X_train['Item_Fat_Content'].value_counts()

LOW        5517
REGULAR    3006
Name: Item_Fat_Content, dtype: int64

In [12]:
X_train['Item_Fat_Content'].value_counts()

LOW        5517
REGULAR    3006
Name: Item_Fat_Content, dtype: int64

In [13]:
le1 = LabelEncoder()
le2 = LabelEncoder()
le3 = LabelEncoder()

X_train['Item_Fat_Content'] = le1.fit_transform(X_train['Item_Fat_Content'])
X_train['Outlet_Location_Type'] = le2.fit_transform(X_train['Outlet_Location_Type'])
X_train['Outlet_Type'] = le3.fit_transform(X_train['Outlet_Type'])

In [14]:
X_train.drop(labels=['Item_Identifier','Item_Type', 'Outlet_Identifier', 'Outlet_Size'], axis=1, inplace=True)
columns = X_train.columns
X_train.head(100)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type
0,9.300000,0,0.016047,249.8092,1999,0,1
1,5.920000,1,0.019278,48.2692,2009,2,2
2,17.500000,0,0.016760,141.6180,1999,0,1
3,19.200000,1,0.000000,182.0950,1998,2,0
4,8.930000,0,0.000000,53.8614,1987,2,1
5,10.395000,1,0.000000,51.4008,2009,2,2
6,13.650000,1,0.012741,57.6588,1987,2,1
7,12.857645,0,0.127470,107.7622,1985,2,3
8,16.200000,1,0.016687,96.9726,2002,1,1
9,19.200000,1,0.094450,187.8214,2007,1,1
10,11.800000,0,0.000000,45.5402,1999,0,1
11,18.500000,1,0.045464,144.1102,1997,0,1
12,15.100000,1,0.100014,145.4786,1999,0,1
13,17.600000,1,0.047257,119.6782,1997,0,1
14,16.350000,0,0.068024,196.4426,1987,2,1
15,9.000000,1,0.069089,56.3614,1997,0,1
16,11.800000,0,0.008596,115.3492,2009,2,2
17,9.000000,1,0.069196,54.3614,1999,0,1
18,12.857645,0,0.034238,113.2834,1985,2,3
19,13.350000,0,0.102492,230.5352,2004,1,1
20,18.850000,1,0.138190,250.8724,1987,2,1
21,12.857645,1,0.035400,144.5444,1985,2,3
22,14.600000,0,0.025698,196.5084,2004,1,1
23,12.857645,0,0.057557,107.6938,1985,0,0
24,13.850000,1,0.025896,165.0210,1997,0,1
25,13.000000,0,0.099887,45.9060,2007,1,1
26,7.645000,1,0.066693,42.3112,2004,1,1
27,11.650000,0,0.019356,39.1164,1987,2,1
28,5.925000,1,0.161467,45.5086,1998,2,0
29,12.857645,1,0.072222,43.6454,1985,0,0
...,...,...,...,...,...,...,...
70,15.600000,1,0.105296,170.1764,1997,0,1
71,15.850000,1,0.121532,59.2220,1987,2,1
72,18.250000,0,0.000000,164.7526,2002,1,1
73,7.855000,0,0.011325,189.6188,2007,1,1
74,7.825000,0,0.186357,254.3698,1999,0,1
75,8.390000,1,0.024206,114.0176,1997,0,1
76,12.850000,0,0.033231,172.3422,1999,0,1
77,12.857645,0,0.113720,89.9804,1985,0,0
78,19.000000,0,0.112557,104.9622,2007,1,1
79,5.905000,0,0.000000,222.5456,2002,1,1
80,7.760000,0,0.059352,101.8700,1997,0,1
81,11.800000,1,0.014087,180.3344,1997,0,1
82,16.750000,0,0.045231,187.9556,2009,2,2
83,12.857645,0,0.293418,194.6136,1985,0,0
84,12.857645,1,0.031382,171.3764,1985,2,3
85,15.500000,1,0.126399,177.0028,2007,1,1
86,6.055000,0,0.025404,160.9920,2004,1,1
87,12.857645,1,0.039058,155.9630,1985,2,3
88,6.305000,1,0.123116,95.6436,1997,0,1
89,20.850000,0,0.039624,117.2808,1999,0,1
90,20.750000,0,0.040421,122.1730,1998,2,0
91,8.895000,0,0.105274,39.9138,1999,0,1
92,19.600000,0,0.033970,55.1614,2002,1,1
93,19.700000,0,0.053213,57.8930,2004,1,1
94,9.800000,0,0.024379,114.5492,2004,1,1
95,12.857645,0,0.009715,120.0414,1985,0,0
96,12.150000,0,0.131384,246.0460,1999,0,1
97,8.750000,1,0.074613,187.4556,2004,1,1
98,12.857645,0,0.028460,149.9708,1985,2,3
99,8.750000,1,0.074627,187.8556,1997,0,1

In [15]:
one_hot_encoder = OneHotEncoder(categorical_features=(5,6))
X_train = one_hot_encoder.fit_transform(X_train).toarray()

/home/shrey/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/shrey/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [16]:
lr =  LinearRegression()
lr.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
item_weight = test['Item_Weight'].values.reshape((-1,1))
test['Item_Weight'] = imputer.transform(item_weight)
test['Item_Fat_Content'] = test['Item_Fat_Content'].map({
    'low fat' : 'LOW', 'LF' : 'LOW', 'Low Fat' : 'LOW', 'Regular' : 'REGULAR', 'reg' : 'REGULAR'
})

test['Item_Fat_Content'].value_counts()
test['Item_Fat_Content'] = le1.transform(test['Item_Fat_Content'])
test['Outlet_Location_Type'] = le2.transform(test['Outlet_Location_Type'])
test['Outlet_Type'] = le3.transform(test['Outlet_Type'])

test.drop(labels=['Item_Identifier', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size'], axis=1, inplace=True)
test = one_hot_encoder.fit_transform(test).toarray()

/home/shrey/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/shrey/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [18]:
X_test = pd.read_csv('test.csv')
y_pred = lr.predict(test)

In [19]:
X_test['Prediction_Sales'] = pd.Series(y_pred)

In [20]:
X_test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Prediction_Sales
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,1799.943500
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1,1538.119642
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store,1922.022393
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1,2546.707898
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3,5180.145456